<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/addsongs" method="post">
	<br/><label>Song name: </label>
	<input type="text" name="name">
	<br/>
	
	<br/><label>Song artist: </label>
	<input type="text" name="artist">
	<br/>
	
	<br/><label>Song genre: </label>
	<input type="text" name="genre">
	<br/>
	
	<br/><label>Song link: </label>
	<input type="text" name="link">
	<br/>
	
	<input type="submit" value="ADD SONGS">
</form>
</body>
</html>